<section id="banner">
	<div class="inner">
		<header>
			<h2>Liederheft</h2>
		</header>
		<p>Das ist ein <strong>digitales Liederheftchen</strong>
		<br />
		by <a href="#">Enzinöre</a>.</p>					
		<footer>	

				<ul class="buttons stacked">
					<li><a href="/Lieder/Weihnachten/Inhalt.html" class="button">Weihnachten</a></li>
				</ul>			
			
			    <ul class="buttons stacked">
					<li><a href="/Lieder/Kirwa/Inhalt.html" class="button">Kirwa</a></li>
				</ul>

		</footer>
	</div>

</section>