<section id="banner">
	<div class="inner">
		<header>
			<h2>Übersicht</h2>
		</header>						
		<footer>

               
                    @foreach(var doc in Documents[(string)@Metadata["Ordner"]].OrderBy(x => x["Titel"]))
                    {
                        <ul class="buttons stacked">
                            <li><a href="/@doc["LiedPage"]" class="button">@doc["Titel"]</a></li>
                        </ul>
                    }

                    <ul class="buttons stacked">
                      <li><a href="/index.html" class="button">Zurück</a></li>
                    </ul>	            

		</footer>

       

	</div>

</section>