<section id="banner">
    <div class="inner">
        <header>
            <h2>@Metadata["Titel"]</h2>
        </header>
        
        <div>
        @Html.Raw(Metadata["LiedText"])
        </div>        
              
        @if(@Metadata["KirwaReason"] != "")
        {
            <p style="text-transform:none;">
            <span style="font-weight:bold">Warum wirds an da Kirwa gesungen?</span><br>                     
            @Metadata["KirwaReason"]
            </p>
        }        
         
            @if(@Metadata["Komponist"] != "")
            {
                <p style="text-transform:none;">
                <span style="font-weight:bold">Komponist: </span>@Metadata["Komponist"] 
                </p>  
            }

            @if(@Metadata["Texter"] != "")
            {
                 <p style="text-transform:none;">
                @Html.Raw("&nbsp;&nbsp;")
                <span style="font-weight:bold">Texter: </span>@Metadata["Texter"]    
                 </p>   
            }
        

        @if(@Metadata["WikiLink"] != "")
        {
         <p>
          <a href="@Metadata["WikiLink"]">Weitere Infos ()</a>
        </p>
        }

        @if(@Metadata["SpotifyLink"] != "")
        {
         <p>
         <a href="@Metadata["SpotifyLink"]">Open in Spotify</a>
         </p>
        }

       
        <a href="javascript:history.back()" class="button">Zurück</a>

    </div>  
</section>